<div class="w-100 d-flex flex-column justify-content-center align-items-center">
  <h1>{{ title }}</h1>
  <div class="w-75 d-flex flex-column justify-content-center align-items-center">
    <div class="input-group" style="height: 70px;">
      <input (keydown)="onKeydown($event)" type="text" class="form-control rounded-start-5 border-primary border-end-0"
             placeholder="eg. celular motorola" [(ngModel)]="searchRequest.productName">
      <select class="form-select border-primary border-end-0 border-start-0" aria-label="categoría del producto"
              [(ngModel)]="searchRequest.categoryId">
        <option [value]="undefined" disabled selected>Categoría</option>
        <option [value]="-1">Incluir todas</option>
        @for (category of categories; track category.id) {
          <option [value]="category.id">{{category.name}}</option>
        }
      </select>
      <button (click)="onSubmitSearch()" class="btn border-primary border-start-0 rounded-end-5 pe-5" type="submit" id="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
             viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a
            1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
    </div>
  </div>
</div>
