<div class="vh-100 d-flex justify-content-center align-self-center">
  <div class="d-flex justify-content-center align-items-center w-100">
    <div class="shadow p-5 rounded-3 col col-md-8 col-lg-6 mx-auto">
      <h2>Productos</h2>
      <h3>¿Qué quieres hacer?</h3>
      <div class="mb-3 mt-3">
        <button class="btn btn-primary w-100" routerLink="/product/create">Cargar producto</button>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary w-100" routerLink="/product/myproducts">Ver mis productos</button>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary w-100" routerLink="/home">Buscar productos</button>
      </div>
    </div>
  </div>
</div>
