<div class="rr-bg-secondary rounded-2">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Cambiar contraseña</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="oldPassword"
               [class.is-invalid]="(changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty)
            && changePasswordForm.controls['oldPassword'].invalid">

        @if ((changePasswordForm.controls["oldPassword"].touched || changePasswordForm.controls["oldPassword"].dirty
          && changePasswordForm.controls["oldPassword"].invalid)) {
          <div class="text-danger fst-italic">
            @if (changePasswordForm.controls['oldPassword'].hasError("required")) {
              <span>Este campo es requerido.</span>
            }
          </div>
        }
      </div>
      <div class="mb-3">
        <label for="new-password" class="form-label">Nueva Contraseña</label>
        <input type="password" class="form-control" id="new-password" formControlName="password"
               [class.is-invalid]="(changePasswordForm.controls['password'].touched || changePasswordForm.controls['password'].dirty)
            && changePasswordForm.controls['password'].invalid">

        @if ((changePasswordForm.controls["password"].touched || changePasswordForm.controls["password"].dirty
          && changePasswordForm.controls["password"].invalid)) {
          <div class="text-danger fst-italic">
            @if (changePasswordForm.controls['password'].hasError("required")) {
              <span>Este campo es requerido.</span>
            }
          </div>
        }
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirmar contraseña</label>
        <input type="password" class="form-control" id="confirm-password" formControlName="confirmPassword"
               [class.is-invalid]="(changePasswordForm.controls['confirmPassword'].touched
                 || changePasswordForm.controls['confirmPassword'].dirty) && changePasswordForm.controls['confirmPassword'].invalid">
        @if ((changePasswordForm.controls["confirmPassword"].touched || changePasswordForm.controls["confirmPassword"].dirty
          && changePasswordForm.controls["confirmPassword"].invalid)) {
          <div class="text-danger fst-italic">
            @if (changePasswordForm.controls['confirmPassword'].hasError("required")) {
              <span>Este campo es requerido.</span>
            }
          </div>
        }
        @if (changePasswordForm.hasError("passwordMatch")) {
          <div class="text-danger fst-italic">
            <span>Las contraseñas deben coincidir.</span>
          </div>
        }
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
  </div>
</div>
